.arrowLeft {
  position: absolute;
  top: 200px;
  left: -8px;
  width: 60px;
  transform: translateY(-50%) scale(-1, 1);
}

.arrowRight {
  position: absolute;
  top: 200px;
  right: -8px;
  width: 60px;
  transform: translateY(-50%);
}

.layoutHome {
  margin-top: 50px;
}
